---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { EXPERIENCE, EXPERIENCE_DETAILS } from "@constants";
---

<Layout title={EXPERIENCE.TITLE} description={EXPERIENCE.DESCRIPTION}>
  <Container>
    <div class="w-full">
      {
        EXPERIENCE_DETAILS.map((exp) => (
          <details class="group mb-4 last:mb-0">
            <summary class="not-prose relative flex cursor-pointer flex-nowrap items-center justify-between rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white">
              <div class="flex flex-col items-start gap-2">
                <h2 class="font-medium">{exp.title}</h2>
                <a href={exp.link}>
                  {" "}
                  <h3 class="font-medium">@{exp.company}</h3>
                </a>
                <span class="text-sm text-gray-500">{exp.period}</span>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="transform transition-transform duration-200 group-open:rotate-180"
              >
                <polyline points="6 9 12 15 18 9" />
              </svg>
            </summary>

            <div class="border-t border-black/15 px-4 py-3 dark:border-white/20">
              <table class="w-full">
                <tbody>
                  {Object.entries(exp.details).map(
                    ([key, value], index, arr) => (
                      <tr
                        class={
                          index !== arr.length - 1
                            ? "border-b border-black/15 dark:border-white/20"
                            : ""
                        }
                      >
                        <td class="w-24 py-2 pr-4 align-top text-sm font-medium">
                          {key}
                        </td>
                        <td class="py-2">
                          {Array.isArray(value) ? (
                            <ul class="list-disc space-y-1 pl-5">
                              {value.map((item) => (
                                <li>{item}</li>
                              ))}
                            </ul>
                          ) : (
                            value
                          )}
                        </td>
                      </tr>
                    )
                  )}
                </tbody>
              </table>
            </div>
          </details>
        ))
      }
    </div>
  </Container>
</Layout>
